body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: hsl(120, 59%, 26%);
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    color: hsl(160, 35%, 59%);
}
#btnContainer{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em ;
    color: white;
    background-color: hsl(143, 27%, 50%);
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 5px;
}
.btn:hover{
    background-color: blue;
}
img{
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 125px;
}
